[submodule "rank5/ft_irc"]
	path = rank5/ft_irc
	url = https://github.com/iamhashir/IRC.git
[submodule "rank6/ft_transcendence"]
	path = rank6/ft_transcendence
	url = https://github.com/minapong/ft_transcendence.git
[submodule "exams/examRank2"]
	path = exams/examRank2
	url = https://github.com/iamhashir/42_examRank2.git
[submodule "Exams/examRank2"]
	path = Exams/examRank2
	url = https://github.com/iamhashir/42_examRank2.git
[submodule "Exams/Exam_Rank_2"]
	path = Exams/Exam_Rank_2
	url = https://github.com/iamhashir/42_examRank2.git
[submodule "Exams/Exam_Rank_5"]
	path = Exams/Exam_Rank_5
	url = https://github.com/ihashirr/42_exam_rank_5.git
