/* ===========================
   Midnight Pro Skin (Hashir)
   Edit the tokens below to retheme chatgpt.com
   =========================== */

:root {
  --primary: #182c58;
  --sidebar-surface-primary:#182c58;
  --scrollbar-color:#001747;
  --scrollbar-color-hover:#76a1ff;
  --bg-elevated-secondary:#182c58;
  --main-surface-primary:#000c27;
}
:root.dark {
  --bg-primary: var(--primary);
  --bg-elevated-secondary:#000c27 !important;
  --main-surface-primary:#000c27;
  --theme-user-msg-bg:rgb(255, 255, 255);
  --theme-user-msg-bg:#552fff5d;
  --main-surface-primary:#000c27;
}
html.dark .popover {
  --main-surface-primary: #000c27;
}
.user-message-bubble-color{
  box-shadow:
  0 0px 10px rgb(48 162 255), inset 0px 0 5px rgb(0 0 0), inset 0px 0 10px rgb(0 0 0), 0 0 60px rgb(0 0 0); /* soft glow, not overkill */
  background:#004cb0a1;
}
/* text area input */
.dark\:bg-\[\#303030\]:where(.dark,.dark *):not(:where(.dark .light,.dark .light *)) {
  background-color: #000c27 !important;
}

.markdown{
  
  background:
  radial-gradient(circle at 25% 18%, rgb(48 71 124 / 10%), #00304c47 85%), radial-gradient(circle at 75% 12%, rgb(0 255 239 / 10%), transparent 66%), rgb(3 0 15 / 80%); /* subtle, breathable dark */
  border-radius: 22px;
  padding: 22px; 
  border: 1px solid rgba(180,200,255,0.12); /* soft, not neon */

  box-shadow:
  0 4px 10px rgb(0 116 208), inset 0 0 54px rgb(0 0 0 / 65%), 0 0 3px rgb(120 213 255); /* soft glow, not overkill */

  backdrop-filter: blur(22px) saturate(140%);
  -webkit-backdrop-filter: blur(22px) saturate(140%);

  color: #e4ecff !important;
  line-height: 1.6;
}

 